version: '3.8'

services:
  postgres:
  image: postgres:15
  container_name: ecommerce_database
  restart: always
  environment:
    POSTGRES_USER: akash
    POSTGRES_PASSWORD: 123456yjm
    POSTGRES_DB: mydb
  ports:
    - "5432:5432"
  volumes:
    - postgres-data:/var/lib/postgresql/data


volumes:
  postgres-data: